$themeColor-Dark:rgba(201, 201, 191, 0.733);
body {
    background-color: $themeColor-Dark;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ion-icon {
    --ionicon-stroke-width: 16px;
  }
