.results {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

ion-icon {
    --ionicon-stroke-width: 16px;
}

canvas {
    position: relative;
	display: block;
    margin-right: auto;
    margin-left: auto;
}